*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    margin: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.site-header {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    margin-right: 76px;
}

.logo-accent {
    color: #2e2f42;
}

.site-nav {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0;
    display: inline-block;
}

.site-nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: width 250ms ease-in-out;
}

.site-nav:hover::after,
.site-nav:focus::after {
    width: 48px; }


.header-nav {
    display: flex;
    align-items: center;
    margin-right: 332px;
}

.nav-list {
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.nav-item{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

.contacts {
    font-style: normal;
}
    
.contact-list {
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.header-address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.header-address:hover,
.header-address:focus {
    color: #404bbf;
}

.contact-list,
.nav-list {
    list-style: none;
}

.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(to bottom,
              rgba(46, 47, 66, 0.7),
              rgba(46, 47, 66, 0.7)),
            url(../images/heroimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
    text-align: center;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin-bottom: 48px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn {
    display: block;
    min-width: 169px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

.features-section {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    white-space: nowrap;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    border: 0;
}

.icon-item {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    
}

.icon {
    display: flex;
    margin: 24px auto;
}

.feature-list {
    display: flex;
    gap: 24px;
    list-style: none;
}

.feature-card {
    width: calc((100% - 72px) / 4);
}


.feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-top: 8px;
    margin-bottom: 8px;
}

.feature-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-section {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    list-style: none;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.team-card {
    background: #ffffff;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.08),
                0px 1px 1px rgba(0, 0, 0, 0.16),
                0px 1px 6px rgba(0, 0, 0, 0.08);
}

.team-info {
    padding: 32px 0;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0;
    padding: 0;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 16px;
    list-style: none;
    margin-top: 8px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    color: #fff;
    transition: background-color 0.3ms ease;
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.fourth-container {
    padding-top: 120px;
    padding-bottom: 120px;
} 

.portfolio-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
    }

.portfolio-list {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}

.portfolio-card {
    position: relative;
    overflow: hidden;
    width: calc((100% - 48px) / 3);
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.portfolio-card:hover,
.portfolio-card:focus {
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.08),
            0px 1px 1px rgba(0, 0, 0, 0.16),
            0px 1px 6px rgba(0, 0, 0, 0.08);
}

.portfolio-card-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
    background-color: #4d5ae5;;
}

.overlay p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin-top: 40px;
    margin-left: 32px;
    margin-right: 32px;
}

.portfolio-card:hover .overlay {
    transform: translateY(0);
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.page-footer {
    padding: 100px 0;
}

.logo-footer{
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    background-color: #2e2f42;
    text-decoration: none;
    margin-bottom: 16px;
}

.logo-accent-footer{
    color: #f4f4fd;
}

.page-footer {
    background-color: #2e2f42;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.sm-footer {
    display: flex;
    flex-direction: column;
    margin-left: 120px;
}

.sm-footer-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.social-list-footer {
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
    list-style: none; 
    margin-top: 16px;
}

.social-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    color: #fff;
    transition: background-color 0.3ms ease;
}

.social-link-footer:hover,
.social-link-footer:focus {
    background-color: #404bbf;
}