*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    margin: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.site-header {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    margin-right: 76px;
}

.logo-accent {
    color: #2e2f42;
}

.site-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0;
    display: inline-block;
}

.site-nav:hover, 
.site-nav:focus {
    color: #404bbf
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 40px; 
}

.nav-list {
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.nav-item{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}

.contacts {
    font-style: normal;
}
    
.contact-list {
    display: flex;
    gap: 40px;
    margin: 0 0 0 332px;
    padding: 0;
}

.header-address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.header-address:hover,
.header-address:focus {
    color: #404bbf;
}

.contact-list,
.nav-list {
    list-style: none;
}

.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    text-align: center;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin-bottom: 48px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn {
    display: block;
    min-width: 169px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

.features-section {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    white-space: nowrap;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    border: 0;
}

.feature-list {
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.feature-card {
    width: calc((100% - 72px) / 4);
}


.feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.feature-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-section {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
   /* padding-top: 120px; */
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    list-style: none;
    gap: 24px;
    padding: 0;
    margin: 0;
}

.team-card {
    background: #ffffff;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    height: 380px;
    width: calc((100% - 3 * 24px) / 4);
}

.team-info {
    padding: 32px 0;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.fourth-container {
    padding-top: 120px;
    padding-bottom: 120px;
} 

.portfolio-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
        /* padding-top: 120px; */
        margin-bottom: 72px;
    }

.portfolio-list {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}

.portfolio-card {
    display: flex;
    width: calc((100% - 48px) / 3);
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.portfolio-card-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    padding-top: 32px;
}

.portfolio-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.page-footer {
    padding: 100px 0;
}

.logo-footer{
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    background-color: #2e2f42;
    text-decoration: none;
    margin-left: 156px;
    margin-bottom: 16px;
}

.logo-accent-footer{
    color: #f4f4fd;
}

.page-footer {
    background-color: #2e2f42;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    margin-left: 156px;
}