body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    margin: 0;
}

.logo {
    font-family: "Ralewey", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.logo-color {
    color: #2e2f42;
}

.header-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    text-decoration: none;
    display: inline-block;
}

.header-nav:hover, 
.header-nav:focus {
    font-family: "Ralewey", sans-serif;
    color: #404bbf
    }

.contacts{
    font-style: normal;
}
    
.header-address{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    display: inline-block;
}

.header-address:hover,
.header-address:focus {
    color: #404bbf;
    
}

.contact-list,
.nav-list{
    list-style: none;
}

.hero{
    background-color: #2e2f42;
    padding: 120px 0;
    text-align: center;
}

.hero-title{
    font-size: 56px;  
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-btn{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    width: 169px;
    height: 56px;
   
}

.hero-btn:hover,
.hero-btn:focus{
    font-family: "Ralewey", sans-serif;
    background-color: #404bbf;
}

.feature-section{
    background-color: #f4f4fd;;
}

.feature-list{
    list-style: none;
    display: flex;
}

.feature{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.info-feature{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-section{
    background-color: #f4f4fd;
}

.title-team{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.info-team{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;    
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-list{
    list-style: none;
    display: flex;
}

.portfolio-card {
    width: 360px;
    background-color: #ffffff;
}

.portfolio-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portoflio-info{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer{
    background: #2e2f42;
    height: 312px;
}

.logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
}

.logo-color-link {
    color: #f4f4fd;
}

.footer-info{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}